%h1
  Oczekujące przesyłki
= render 'parcel_table', parcels: @pending_parcels
%h1
  Odrzucone przesyłki
= render 'parcel_table', parcels: @rejected_parcels
%h1
  Zaakceptowane przesyłki
= render 'parcel_table', parcels: @accepted_parcels
