%h1 Przesyłki
%h3 Oczekujące
= render 'parcel_table', parcels: @pending_parcels
%h3 Odrzucone
.rejected-parcels
  = render 'parcel_table', parcels: @rejected_parcels
%h3 Zaakceptowane
.accepted-parcels
  = render 'parcel_table', parcels: @accepted_parcels
