/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */

@import 'bootstrap-sass';
@import 'font-awesome';

html{
  height: 100%;
  width: 100%;
  body {
    font-family: 'Lato', sans-serif;
    padding: 10px;
    height: 100%;
    .container-fluid {
      height: 100%;
      .content{
        min-height: 100%;
        position: relative;
        padding-top: 70px;
      }
    }
  }
}

.max-width{
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.navbar{
  font-family: 'Ubuntu';
  background-color: #F07100;
  
  a{
    color: white;
    &:hover{
      color: #FFF;
    }
  }

  .navbar-brand{
    font-weight: bold;
    &:hover{
      color: #EEE;
    }
  }

  ul.nav.navbar-nav li a{
    &:hover{
      background-color: #FF7D0A;
    }
  }

  .dropdown.open > a{
    background-color: #FF7D0A;
  }

  .icon-bar{
    background-color: white;
  }
}

footer {
  position: relative;
  height: 60px;
  color: #000;
}



.parcels-table {
  th{
    text-align: center;
  }
  text-align: center;
}



.form-title{
  text-align: center;
}

.no-padding{
  padding: 0px;
}

.has-tooltip{
  cursor: pointer;
}

span.unit{
  padding-left: 6px;
  color: #777;
}

.form-unit{
  position: absolute;
  top: 8px;
  color: #555;
}

.width-unit{
  right: 80%;
  right: calc(66% + 30px);
}

.height-unit{
  right: 40%;
  right: calc(33% + 19px);
}

.depth-unit{
  right: 8px;
}

.form-control.no-bg{
  background: rgba(0, 0, 0, 0);
}

.table > thead > tr > th, .table > thead > tr > td, .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > th, .table > tfoot > tr > td{
  vertical-align: middle;
}

.rejected-parcels > .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #ffe9e9;
}

.accepted-parcels > .table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #e9ffe9;
}

.btn.inactive{
  opacity: 0.5;
  cursor: default;
  box-shadow: none;
}
