%p
  Witaj, #{@resource.email}!
%p Ktoś poprosił o odzyskanie hasła do Twojego konta. Możesz to zrobić klikając w poniższy link:
%p
  = link_to 'Odzyskaj hasło', edit_password_url(@resource, reset_password_token: @token)
%p Jeśli nie prosiłeś o odzyskanie hasła, zignoruj tę wiadomość. Twoje hasło nie zmieni się do momentu kliknięcia w link i zatwierdzenia nowego hasła.
%p Pozdrawiamy, MKS Express
