%hr
%footer
  .row
    .col-md-10.col-md-offset-1
      .col-sm-3.text-xs-center
        Kontakt
      .col-sm-3.text-xs-center
        Nadawcy
      .col-sm-3.text-xs-center
        Odbiorcy
      .col-sm-3.text-xs-center
        MKS Express
