%hr
%footer
  .row
    .col-md-10.col-md-offset-1
      .col-sm-3.text-xs-center
        = t('.contact_us')
      .col-sm-3.text-xs-center
        = t('.senders')
      .col-sm-3.text-xs-center
        = t('.recipients')
      .col-sm-3.text-xs-center
        MKS Express
