%nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => "#"}
        MKS Express
    %button.btn.btn-default.navbar-btn{:type => "button"} Button 1
    %button.btn.btn-default.navbar-btn{:type => "button"} Button 2
